:root {
  --primary-bg: red;
  --primary-text: blue;
}
/* for mobile devices */
@media screen and (max-width: 576px) {
  /* Shared Styles Start*/
  nav,
  ul,
  .banner-container,
  .collection-container,
  .feature-container,
  .socile-links ul {
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }
  /* Shared Styles End*/
  /* Header Styles Start */

  .banner-img {
    min-height: 0px;
  }
  .banner-title {
    font-size: 2rem;
  }
  /* Header Styles End */
  /* Sponspors Styles Start */
  .sponspor-container {
    flex-wrap: wrap;
    gap: 15px;
  }
  /* Sponspors Styles End */
  /* cart Styles with grid Start */
  .cart-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  /* cart Styles with grid End */
}
/* For Tablet Devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
  /* Shared Styles Start*/
  nav,
  .banner-container,
  .collection-container,
  .feature-container {
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }
  /* Shared Styles End*/
  /* Header Styles Start */
  nav h3 {
    padding-bottom: 15px;
  }
  /* Header Styles End */
  /* Sponspors Styles Start */
  .sponspor-container {
    flex-wrap: wrap;
    gap: 20px;
  }
  /* Sponspors Styles End */
  /* cart Styles with grid Start */
  .cart-container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  /* cart Styles with grid End */
}
