/* Poppins Google Font Import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,500&display=swap");
/* Defult Styles Start */
* {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: "Poppins", sans-serif;
}
img {
  max-width: 100%;
  max-height: 100%;
}
section {
  padding: 30px 0px;
}
/* Defult Styles End */
/* Shared Styles Start */
.btn-primary {
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  background-color: #e02c6d;
  border-radius: 20px;
  border: none;
}
/* Shared Styles End */
/* Header Styles Start */
header,
main {
  max-width: 1440px;
  margin: 0 auto;
}
nav {
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}
nav h3 {
  font-weight: 700;
  font-size: 2rem;
  color: #3a3a3a;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}
nav li {
  list-style: none;
}
nav > ul > li > a {
  text-decoration: none;
  padding: 5px 10px;
  color: #3a3a3a;
  font-size: 1rem;
  font-weight: 600;
}

.banner-container {
  padding: 20px 50px;
  display: flex;
  align-items: center;
  gap: 60px;
}
.banner-content {
  width: 60%;
}

.banner-title {
  font-size: 3rem;
  font-weight: 700;
  color: #3a3a3a;
}
.banner-description {
  font-size: 1rem;
  font-weight: 500;
  color: #3a3a3a;
  padding: 10px 0px;
}

.banner-img {
  background-image: url(../images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 440px;
}
/* Header Styles End */
.sponspor-container {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
}
/* Flex collection styles start */
.collection-container {
  padding: 10px 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.collection-title,
.cart-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: #3a3a3a;
  padding-bottom: 30px;
}
.collection-container {
  padding: 10px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.collection-box {
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}
.collection-box-title,
.cart-box-title {
  font-size: 2rem;
  font-weight: 700;
  color: #18191f;
}
.collection-box-title2,
.cart-box-title2 {
  font-size: 2rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.87);
  padding: 10px 0px;
}
.fa-solid {
  color: orange;
}
.collection-box-rating span,
.cart-box-rating span {
  font-size: 1rem;
  font-weight: 700;
  color: #5e6366;
}
.collection-box-description,
.cart-box-description {
  font-size: 1rem;
  font-weight: 500;
  color: #787885;
}
/* Flex collection styles end */
/* Grid card styles start */
.cart-container {
  padding: 10px 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.cart-box {
  padding: 20px 70px;
  background-color: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

/* Grid card styles End */
